:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header,
.hero-section,
footer {
    background-color: #1F2937;
}

.hero-section {
    margin: 96px 0 16px 0;
}

.hero-left-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    line-height: 1;
}

.hero-left-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8; 
}

.hero-left-container button,
.cta-right-container button {
    background-color: #3882F6;
}

.hero-left-container button {
    margin: 16px 0;
}

.hero-left-container {
    max-width: 420px;
}

.cta-section {
    background-color: white;
    padding: 32px 0;
}

.cat-variants-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.cat-variants-section {
    background-color: white;
    width: 100%;
}

.blockquote-section {
    background-color: #E5E7EB;
    padding: 32px 0;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

blockquote {
    margin: 0;
}

.quote-author {
    text-align: right;
}

nav {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9FAF8; 
}

a,
button,
.hero-left-container p,
.cta-left-container p {
    font-size: 16px;
}

.cta-left-container h3 {
    color: #ffffff;
    margin: 0 0 8px 0;
}

.cta-left-container p {
    margin: 0;
}

button {
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid #3882F6
}

.cta-right-container button {
    border: 2px solid #F9FAF8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    position: fixed;
    top: 0;
}

.logo,
nav {
    display: flex;
    gap: 16px;
    padding: 16px 32px;
}

nav {
    gap: 32px;
}

.hero-section-content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-img-wrap {
    border: 1px solid #ffffff00;
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    height: 300px;
    box-shadow: 0 0 16px 4px #ececec33;
}

.hero-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cat-variants-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
}

.cat-variants-container .img-wrap {
    border: 2px solid #1F2937;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 0 16px 8px #3c3c3c33;
}

.cat-variants-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

figcaption {
    font-size: 14px;
}

.cat-variant {
    width: 180px;
}

.cta-section-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 0 32px;
    border-radius: 12px;
}


/* container widths */

header,
main,
footer {
    width: 100%;
}

.hero-section-content-container,
.cat-variants-section-content-container,
.blockquote-section-content-container,
.cta-section-content-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
}

/* // */

footer {
    text-align: center;
    color: #E5E7EB;
}

.logo-background {
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
}

.logo-background img {
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
}